.top__Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: aqua; */
}

.service__container{
    margin-left: 60px;
    /* background-color: aqua; */
    text-align: center;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.mainCont{
    
}

.image__container,
.border1,
.border2{
    /* width: 20%; */
    width: 200px;
    height: 200px;
    transition-duration: 0.2s;
    position: absolute;
    
    
}

.image__container{
    border: 3px solid var(--dorado);
    position: relative;
    margin-top: 15px;
    background-color: white;
}

.border1,
.border2{
    
    border: 2px solid var(--verde);
    
    
}

.border1{
    top: -10px;
    left: 10px;
    
}
.border2{
    bottom: -10px;
    right: 10px;
}

.div_button{
    /* background-color: aqua; */
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.image{
    width: 70%;
}

.image__container:hover .border1,
.image__container:hover .border2{
    border-color: transparent;
}

.image__container:hover{
    transform: translateY(-20px);
    /* background-color: aqua; */
    width: 220px;
    height: 220px;
    cursor: pointer;
}

.line__text{
   height: 2px;
   width: 50%;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 0;
   background-color: var(--verde);
   color: transparent;
   opacity: 1;
}


@media all and (max-width: 700px){
    .service__container{
        margin-left: 0;
    }
    .top__Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}