.container{
    width: 100%;
    height: 500px;
    display: flex;
    margin-bottom: 50px;
}
.image_container{
    width: 12.5%;
    height: 500px;
    background-color: white;
    overflow: hidden;
    transition: 2s;
}

.image{
    height: 450px;
    opacity: 0.5;
    transition: 2s;
}

.image_container:hover{
    width: 27%;
    /* position: absolute; */
    cursor: pointer;

}
.image_container:hover .image{
    opacity: 1;
    cursor: pointer;
}

.text__work{
    position: relative;
    background-color: white;
    width: 50%;
    padding: 30px;
    margin-top: 50px;
    border: 2px solid var(--verde);
    margin-bottom: 50px;
}

.linea__texto{
    height: 2px;
    width: 45%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: var(--verde);
    color: transparent;
    opacity: 1;
 }

.text__container{
    border-top: 2px solid var(--verde);
    margin-bottom: 50px;
}
.text__container__work{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--verde);
}

.name__container{
    position: relative;
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
    padding: 30px;
    width: 27%;
    border: 2px solid var(--verde);
}

.name__letter{
    list-style: none;
}

.contBordeS,
.contBorde{
    width: 100%;
    height: 100%;
    border: 2px solid var(--dorado);
    position: absolute;
    /* background-color: aqua; */
    
}

.contBorde{
    top: -10px;
    left: 10px;
}

.contBordeS{
    bottom: -10px;
    right: 10px;
}

.text,
.name__container{
    color:var(--verde)!important;
    z-index: 1;
    opacity: 1 !important;
    position: relative;
    /* margin-top: 20px; */
}