@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.container{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;

    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.image_container{
    width: 12.5%;
    height: 500px;
    background-color: white;
    overflow: hidden;
    transition: 2s;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.image{
    height: 150px;
    opacity: 1;
    transition: 2s;
    display: flex;
    margin-bottom: 0;
    margin-right: auto;
    background-color: rgba(182, 244, 244, 0.164);
}

.image_container:hover{
    width: 27%;
    /* position: absolute; */
    cursor: pointer;

}
.image_container:hover .image{
    opacity: 1;
    cursor: pointer;
    flex: 5;
}

.text__work{
    position: relative;
    background-color: white;
    width: 50%;
    min-width: 500px;
    padding: 30px;
    margin-top: 50px;
    border: 2px solid var(--verde);
    margin-bottom: 50px;
}

.linea__texto{
    height: 2px;
    width: 45%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: var(--verde);
    color: transparent;
    opacity: 1;
 }

.text__container{
    border-top: 2px solid var(--verde);
    margin-bottom: 50px;
}
.text__container__work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border-bottom: 2px solid var(--verde);
    /* background-color: aqua; */
}

.name__container{
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding: 30px;
    width: 27%;
    min-width: 300px;
    border: 2px solid var(--verde);
    background-color: white;
}

.name__letter{
    list-style: none;
}

.contBordeS,
.contBorde{
    width: 100%;
    height: 100%;
    border: 2px solid var(--dorado);
    position: absolute;
    /* background-color: aqua; */
    
}

.contBorde{
    top: -10px;
    left: 10px;
}

.contBordeS{
    bottom: -10px;
    right: 10px;
}

.text,
.name__container{
    color:var(--verde)!important;
    z-index: 1;
    opacity: 1 !important;
    position: relative;
    /* margin-top: 20px; */
}




@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */

.container {
  display: flex;
  width: 90vw;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /* background-color: aqua; */
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items:flex-end !important;
  border-radius: 50px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 1.2s linear;
  border: 2px solid var(--verde);
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}


/* .panel:hover{
    flex:5
} */
.panel_active {
  flex: 3;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 1s linear 0.4s;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

  .panel_active {
    flex: 40;
  }
  .panel{
    margin: 1px;
  }

  .text__work{
    /* background-color: beige; */
    min-width: 95% !important;
  }

  .name__container{
    /* background-color: aqua; */
    width: 80%;
  }
}