:root{
    --verde: #235E6C;
    /* --dorado: #9dfd6d!important; */
    --title: Colonna MT; 
    --sub_title: serif ;
    --texto: Berlin Sans FB;
    --transition-duration: 0.5s;
    --transition-delay: 0;
}