:root {
    --verde: #235E6C;
    --dorado: #FEDB97;
}




.main__container{
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    /* background-image: url('./../../imagenes/WhatsApp\ Image\ 2024-02-08\ at\ 22.41.33.copy.jpeg'); */
    border-bottom: 2px solid var(--verde);
    padding: 10px;
    position: relative;
    /* overflow-y: auto; */
    
}
.background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../../imagenes/WhatsApp\ Image\ 2024-02-08\ at\ 22.41.33.copy.jpeg'); 
    background-size: cover; 
    background-attachment: fixed; /* Fijar la imagen de fondo */
  }
  .right__container{
    width: 70%;
    height: 50%;
    padding: 30px;
    margin-top: 20%;
    z-index: 10;
    background-color: rgba(215, 255, 252, 0.444);

}

.title{
    color: var(--dorado);
    font-family: Palatino Linotype;
    font-size: 25px;
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 15px;
    text-shadow: 1px  0px 0px transparent,
                0px  1px 0px transparent ,
                -2px  3px 0px transparent,
                1px -2px 0px var(--verde);
   
}
.subtitle{
    color: var(--dorado);
    font-family: Palatino Linotype;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    text-shadow: 1px  0px 0px transparent,
                0px  1px 0px transparent ,
                -2px  3px 0px transparent,
                1px -2px 0px var(--verde);
}

.schedule_button_div{
    width: 200px;
    /* background-color: #FEDB97; */
    margin-top: 40px;
}
.image1,
.image2,
.image3{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
    position: absolute;
    
}

@keyframes move {
    from{
      transform: translateY(100%);
      opacity: 0;
    }
    
    to {
        transform: translateY(0%);
        opacity: 1;
      }
    
  }
.image1{
 top: 30% ;
 animation: move 3s; 

}
.image2{
    top: 55%;
    left:  30%;
    z-index: 10;
    animation: move 4s; 
   
}
.image3{
    top: 80%;
    z-index: 1;  
    animation: move 5s;  
   
}

.left__container{
    width: 20%;
    /* background-color: aqua; */
    margin-left: 10%;
    position: relative;
}

.line{
   
    color: var(--verde);
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0%;
    opacity: 1;
    border-bottom: 2px solid var(--verde);
}

@media all and (max-width: 700px){
    .main__container{
        display: none;
        
    }

   
}